@import '../../scss/main.scss';

.register {
  .form-container {
    @include flex-row-center;
    padding-top: 6rem;
    padding-bottom: 12rem;

    .form {
      background-color: #fff;
      border-radius: 3.6rem;
      padding: 6rem 12rem 6rem 6rem;

      &__title {
        font-family: $font-serif;
        font-size: 4rem;
        color: #5e5b5b;
      }

      &__top {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        column-gap: 4.5rem;
        row-gap: 3rem;
        margin-top: 4.3rem;

        &--input-container {
          &.invalid-email,
          &.invalid-password {
            position: relative;

            &::after {
              position: absolute;
              content: '** This email was already used';
              color: $error-color;
              font-weight: 500;
              font-size: 1.2rem;
              line-height: 150%;
            }
          }

          &.invalid-email {
            &::after {
              content: '** This email was already used';
            }
          }

          &.invalid-password {
            &::after {
              content: '** Passwords do not match';
            }
          }

          .label {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 170%;
            color: $color-primary;
            display: block;
            opacity: 0.95;
          }

          .input {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid $box-color;
            font-family: inherit;
            font-size: 1.5rem;
            color: $color-secondary;
            margin-top: 0.5rem;
            border-radius: 0;

            &.invalid {
              border-bottom: 1.5px solid $error-color;
            }
          }
        }
      }

      &__ending {
        margin-top: 3.2rem;
        display: flex;
        align-items: center;
        column-gap: 4.5rem;
        font-size: 1.5rem;
        line-height: 170%;
        color: $color-secondary;

        &--policy {
          display: flex;
          align-items: center;

          .checkbox {
            width: 1.5rem;
            height: 1.5rem;

            &:hover {
              cursor: pointer;
            }
          }

          .text {
            display: inline-block;
            margin-left: 1.4rem;
          }
        }

        &--policy,
        &--login {
          .link {
            color: #c16a6a;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      &__btn {
        @include btn-style('solid', 1.6rem, 1.5rem, 2.5rem);
        margin-top: 3.2rem;
      }

      @media (max-width: 1000px) {
        padding-right: 6rem;
      }

      @media (max-width: 800px) {
        &__top {
          grid-template-columns: 100%;

          &--input-container {
            width: 100%;
          }
        }

        &__ending {
          flex-direction: column;
          align-items: flex-start;
          row-gap: 1rem;
        }
      }

      @media (max-width: 600px) {
        padding: 4rem;
        border-radius: 3rem;

        &__title {
          font-size: 3rem;
        }

        &__top {
          &--input-container {
            .label,
            .input {
              font-size: 1.4rem;
            }
          }
        }

        &__ending {
          font-size: 1.2rem;
        }

        &__btn {
          font-size: 1.4rem;
          margin-top: 2rem;
        }
      }
    }
  }
}
