@import '../../scss/main.scss';

.wishlist {
  .title-container {
    @include section-style;

    .title {
      @include title-page-style;
    }
  }

  // .select-all {
  //   display: flex;
  //   align-items: center;
  //   border-bottom: 1px solid $color-primary;
  //   padding-bottom: 3.8rem;

  //   &__checkbox {
  //     width: 2.5rem;
  //     height: 2.5rem;
  //     margin-right: 3.3rem;
  //   }

  //   &__label {
  //       //     font-weight: 500;
  //     font-size: 1.8rem;
  //     line-height: 150%;
  //     color: $color-secondary;
  //   }
  // }

  .card-container {
    @include section-style;
    max-width: 1200px;
    margin-bottom: 10.75rem;
    min-height: 5rem;

    .card {
      padding: 3.3rem 0;
      border-bottom: 1px solid $color-primary;
    }
  }

  .add-to-cart {
    display: flex;
    align-items: center;
    margin-top: 6.35rem;

    &__btn {
      @include btn-style('solid', 1.6rem, 1.7rem, 3rem);
      white-space: nowrap;
      margin-right: 4.4rem;
    }

    &__in-stock {
      display: flex;
      align-items: center;

      &--checkbox {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }

      &--label {
        font-weight: 600;
        font-size: 2rem;
        color: $color-primary;
      }
    }
  }

  @media (max-width: 600px) {
    .card-container {
      margin-bottom: 8rem;

      .card:first-child {
        padding-top: 0;
      }
    }

    .add-to-cart {
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-top: 6rem;

      &__in-stock {
        margin-bottom: 2rem;

        &--label {
          font-size: 1.9rem;
        }
      }
    }
  }
}
