@import '../../scss/main.scss';

.product-item-card {
  &__img {
    width: 100%;
    aspect-ratio: 1 / 1.18;
    object-fit: cover;
    background-color: $box-color;
    display: block;
  }

  &__collection {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 150%;
    color: $color-primary;
    margin-top: 1rem;
    text-transform: capitalize;
    display: inline-block;
  }

  &__name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    color: $color-secondary;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__size-container {
    display: flex;
    column-gap: 1.7rem;

    .size {
      font-size: 1.4rem;
      line-height: 150%;
      color: $color-secondary;
      margin: 0.5rem 0;
    }
  }

  &__price {
    display: flex;
    column-gap: 1.1rem;

    &--icon {
      width: 3rem;
      padding: 0.78rem 0.73rem;
      background-color: $color-secondary;
    }

    &--amount {
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      color: $color-secondary;
    }
  }

  @media (max-width: 1200px) {
    &__name {
      font-size: 1.6rem;
    }
  }

  @media (max-width: 800px) {
    &__name {
      font-size: 1.8rem;
    }
  }
}
