@import '../scss/main.scss';

.product {
  .main-container {
    background-color: #fff;

    .main {
      @include section-style;

      &__title {
        @include title-page-style;
      }

      &__content {
        display: flex;
        column-gap: 13rem;

        .right {
          width: 100%;

          &__item-container {
            display: flex;
            column-gap: 3.7rem;
            row-gap: 3.85rem;
            flex-wrap: wrap;
            margin-bottom: 6.15rem;

            .item {
              width: calc((100% - 7.4rem) / 3);
            }
          }

          &__load-more-btn {
            @include btn-style('regular', 1.8rem, 1.7rem, 4.5rem);
            margin: 0 auto 6.32rem auto;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .main-container {
      .main {
        &__content {
          column-gap: 10rem;

          .right {
            &__load-more-btn {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .main-container {
      .main {
        &__content {
          column-gap: 9rem;

          .right {
            &__item-container {
              .item {
                width: calc((100% - 3.7rem) / 2);
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .main-container {
      .main {
        &__content {
          column-gap: 8rem;

          .right {
            &__item-container {
              .item {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .main-container {
      .main {
        &__content {
          flex-direction: column;
          row-gap: 3rem;
        }
      }
    }
  }
}
