@import '../scss/main.scss';

.item-card {
  @include flex-row-center;
  justify-content: space-between;
  padding: 3.3rem 0;
  border-bottom: 1px solid $color-primary;

  &:first-child {
    padding-top: 0;
  }

  .left {
    @include flex-row-center;

    &__checkbox {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 5.8rem;
    }

    &__img-container {
      padding: 1.34rem;
      border: 1px solid $color-primary;
      margin-right: 4rem;

      .img {
        width: 18rem;
        padding-top: 100%;
        background-color: $box-color;
      }
    }

    &__icon {
      display: none;
    }

    &__detail-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 1.5rem;

      .name {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 150%;
        color: $color-secondary;
        text-transform: capitalize;
      }

      .price {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 150%;
        color: $color-primary;
        margin-top: 0.5rem;
        margin-bottom: -0.3rem;
      }

      .size-color {
        font-size: 16px;
        line-height: 150%;
        text-transform: capitalize;
        color: rgba($color: $color-secondary, $alpha: 0.8);
      }

      .bottom-container {
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-top: 0.7rem;

        .btn-container {
          display: flex;
          align-items: center;
        }

        &__minus-btn,
        &__plus-btn {
          @include prevent-select;
          font-size: 2.5rem;
          width: 5rem;
          height: 5rem;

          &:hover {
            cursor: pointer;
          }
        }

        &__minus-btn {
          @include flex-row-center;
          margin-right: 3.2rem;
          color: rgba($color: $color-secondary, $alpha: 0.8);
          background-color: rgba($color: $color-primary, $alpha: 0.1);
        }

        &__quantity {
          margin-right: 3.2rem;
          font-size: 1.8rem;
          line-height: 150%;
          color: $color-primary;
          min-width: 2.5rem;
          text-align: center;
        }

        &__plus-btn {
          @include flex-row-center;
          margin-right: 2.74rem;
          color: #fff;
          background-color: $color-primary;
        }

        &__status {
          font-size: 2rem;
          color: #999999;

          .in-stock {
            font-size: 600;
            color: #95ccb5;
          }

          .out-of-stock {
            font-size: 600;
            color: $error-color;
          }
        }
      }
    }
  }

  .right {
    &__icon {
      width: 2.2rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 800px) {
    .left {
      &__checkbox {
        width: 2rem;
        height: 2rem;
        margin-right: 3rem;
      }

      &__img-container {
        padding: 1rem;
        margin-right: 3rem;

        .img {
          width: 15rem;
        }
      }

      &__detail-container {
        .name,
        .price {
          font-size: 2rem;
        }

        .bottom-container {
          &__minus-btn,
          &__plus-btn {
            width: 4rem;
            height: 4rem;
          }

          &__status {
            font-size: 1.6rem;
          }
        }
      }
    }

    .right {
      &__icon {
        width: 1.8rem;
      }
    }
  }

  @media (max-width: 600px) {
    .left {
      flex-wrap: wrap;
      justify-content: space-between;

      &__img-container {
        .img {
          width: 16rem;
        }
      }

      &__icon {
        display: inline-block;
        width: 1.8rem;
      }

      &__detail-container {
        width: 100%;
        margin-top: 1.5rem;
        row-gap: 1rem;
        text-align: center;

        .bottom-container {
          flex-direction: column;

          &__plus-btn {
            margin-right: 0;
          }
        }
      }
    }

    .right {
      display: none;
    }
  }
}
