@import '../../scss/main.scss';

.footer-container {
  .footer {
    @include section-style;
    padding-top: 7.5rem;
    padding-bottom: 8.6rem;
    display: flex;

    &.border-top {
      border-top: 1px solid $color-primary;
    }

    &__left {
      margin-right: 10rem;

      &--brand {
        font-family: $font-serif;
        font-size: 8rem;
        line-height: 115%;
        letter-spacing: 0.02em;
        color: $color-primary;
      }

      &--desc {
        font-size: 1.8rem;
        line-height: 190%;
        color: $color-primary;
        margin-top: 2.2rem;
        width: 80%;
      }

      &--social-media-container {
        @include flex-row-center;
        column-gap: 3.4rem;
        margin-top: 3.2rem;
        width: 80%;

        .icon {
          height: 2.8rem;

          &.small {
            height: 2.6rem;
          }
        }
      }
    }

    &__right {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      .column {
        &__title {
          font-weight: 600;
          font-size: 1.8rem;
          color: $color-secondary;
          margin-bottom: 2.7rem;
        }

        &__link {
          display: block;
          font-size: 1.4rem;
          color: $color-secondary-light;

          &:not(:last-child) {
            margin-bottom: 2.7rem;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .footer {
      &__left {
        margin-right: 3rem;
      }
    }
  }

  @media (max-width: 1000px) {
    .footer {
      &__left {
        &--brand {
          font-size: 6rem;
        }

        &--desc,
        &--social-media-container {
          width: 100%;
          font-size: 1.6rem;
        }
      }

      &__right {
        .column {
          &__title {
            font-size: 1.4rem;
          }

          &__link {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .footer {
      flex-direction: column;
      row-gap: 5rem;

      &__left {
        text-align: center;

        &--brand {
          padding-left: 1rem;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .footer {
      &__left {
        &--desc {
          font-size: 1.4rem;
        }
      }
    }
  }
}
