@import '../../scss/main.scss';

.account {
  .title-container {
    @include section-style;

    .title {
      @include title-page-style('no-padding-top');
    }
  }

  .form {
    @include section-style;
    max-width: 1300px;
    line-height: 150%;
    display: grid;
    grid-template-columns: repeat(6, 8.5rem);
    gap: 3.3rem;
    margin-bottom: 6rem;

    &.large-margin-bottom {
      margin-bottom: 15rem;
    }

    &__input-container {
      label,
      input {
        display: block;
      }

      label {
        font-weight: 600;
        font-size: 2.4rem;
        color: $color-primary;
        margin-bottom: 1.75rem;
      }

      input {
        outline: none;
        border: 1px solid rgba($color-primary, 0.5);
        font-family: inherit;
        font-size: 2rem;
        color: rgba($color-secondary, 0.8);
        padding: 1rem 1.5rem;
        width: 100%;

        &:focus {
          border: 1px solid rgba($color-primary, 1);
        }
      }

      &.left {
        grid-column: 1 / span 3;

        &.long {
          grid-column: 1 / span 4;
        }
      }

      &.right {
        grid-column: 4 / span 3;

        &.short {
          grid-column: 5 / span 2;
        }
      }
    }

    &__btn {
      grid-column: 1 / span 2;
      @include btn-style('solid', 1.8rem, 1.5rem, 2rem);
      margin-top: 2rem;
    }

    &__logout-btn {
      grid-column: 3 / span 2;
      @include btn-style('solid', 1.8rem, 1.5rem, 2rem);
      margin-top: 2rem;
    }
  }

  .order {
    @include section-style;
    max-width: 1300px;
    margin-bottom: 15rem;

    &__title {
      font-weight: 600;
      font-size: 2.4rem;
      color: $color-primary;
      line-height: 150%;
      margin-bottom: 4rem;
    }

    &__card {
      max-width: 72rem;
    }
  }

  @media (max-width: 800px) {
    .form {
      grid-template-columns: repeat(4, 8.5rem);

      &__input-container {
        &.left {
          grid-column: 1 / span 4;

          &.long {
            grid-column: 1 / span 4;
          }
        }

        &.right {
          grid-column: 1 / span 4;

          &.short {
            grid-column: 1 / span 4;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .form {
      grid-template-columns: repeat(3, 8rem);

      &__input-container {
        label {
          font-size: 1.6rem;
        }

        input {
          font-size: 1.8rem;
        }

        &.left {
          grid-column: 1 / span 3;

          &.long {
            grid-column: 1 / span 3;
          }
        }

        &.right {
          grid-column: 1 / span 3;

          &.short {
            grid-column: 1 / span 3;
          }
        }
      }

      &__btn {
        @include btn-style('solid', 1.6rem, 1.5rem, 3rem);
      }

      &__logout-btn {
        grid-column: 1 / span 2;
        margin-top: 0;
        @include btn-style('solid', 1.6rem, 1.5rem, 3rem);
      }
    }

    .order {
      margin-bottom: 12rem;
    }
  }
}
