@import './variables';

@mixin section-style($style: 'normal') {
  margin: 0 auto;

  @if ($style == 'normal') {
    max-width: 1440px;
    padding-left: 8.4rem;
    padding-right: 8.4rem;

    @media (max-width: 1200px) {
      padding-left: 7rem;
      padding-right: 7rem;
    }

    @media (max-width: 1000px) {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    @media (max-width: 800px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @media (max-width: 600px) {
      padding-left: 2.75rem;
      padding-right: 2.75rem;
    }
  }

  @if ($style == 'wide') {
    max-width: 1520px;
    padding-left: 4rem;
    padding-right: 4rem;

    @media (max-width: 1200px) {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }

    @media (max-width: 1000px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @media (max-width: 800px) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    @media (max-width: 600px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin prevent-select {
  webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin title-style {
  font-family: $font-serif;
  font-size: 8rem;
  line-height: 115%;
  letter-spacing: 0.02em;
  color: $color-secondary;

  @media (max-width: 1000px) {
    font-size: 7rem;
  }

  @media (max-width: 800px) {
    font-size: 6rem;
  }

  @media (max-width: 600px) {
    font-size: 4rem;
  }
}

@mixin title-page-style($style: 'normal') {
  @include title-style;
  padding-top: 6rem;
  margin-bottom: 10rem;
  margin-left: -0.3rem;

  @media (max-width: 600px) {
    @if $style == 'no-padding-top' {
      padding-top: 0;
    }

    margin-bottom: 6rem;
  }
}

@mixin btn-style($style, $font-size, $padding-vertical, $padding-horizontal) {
  padding: $padding-vertical $padding-horizontal;
  font-weight: 600;
  line-height: 150%;
  display: block;
  width: fit-content;
  font-size: $font-size;
  border-radius: 0.15rem;

  @if $style == 'regular' {
    color: $color-primary;
    border: 1px solid $color-primary;
  }

  @if $style == 'solid' {
    color: #fff;
    background-color: $color-primary;
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 800px) {
    padding: ($padding-vertical * 0.8) ($padding-horizontal * 0.8);
  }
}
