@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color-primary: #c3a370;
$color-primary-light: #faf7f5;
$color-secondary: #5e5b5b;
$color-secondary-light: #939393;

$box-color: #c4c4c4;
$box-color-light: #cdcfd1;

$font-sans-serif: 'Poppins', sans-serif;
$font-serif: 'Playfair Display', serif;
