@import './functions';
@import './mixins';
@import './variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-sans-serif;
  box-sizing: border-box;
  background-color: $color-primary-light;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

@mixin title-style {
  font-family: $font-serif;
  font-size: 8rem;
  line-height: 115%;
  letter-spacing: 0.02em;
  color: $color-secondary;

  @media (max-width: 1000px) {
    font-size: 7rem;
  }

  @media (max-width: 800px) {
    font-size: 6rem;
  }

  @media (max-width: 600px) {
    font-size: 4rem;
  }
}

@mixin title-page-style {
  @include title-style;
  padding-top: 6rem;
  margin-bottom: 10rem;
  margin-left: -0.3rem;
}

@mixin btn-style($style, $font-size, $padding-vertical, $padding-horizontal) {
  font-family: $font-sans-serif;
  padding: $padding-vertical $padding-horizontal;
  font-weight: 600;
  line-height: 150%;
  display: block;
  width: fit-content;
  font-size: $font-size;

  @if $style == 'regular' {
    color: $color-primary;
    border: 1px solid $color-primary;
  }

  @if $style == 'solid' {
    color: #fff;
    background-color: $color-primary;
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 800px) {
    padding: ($padding-vertical * 0.8) ($padding-horizontal * 0.8);
  }
}
