@import '../../scss/main.scss';

.nav-container {
  .nav {
    @include section-style;
    padding-top: 6.4rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 1;
    }

    &__logo {
      font-family: $font-serif;
      font-weight: 700;
      font-size: 3.6rem;
      letter-spacing: 0.02em;
      color: $color-primary;
      padding-bottom: 0.5rem;
    }

    &__link-container {
      @include flex-row-center;
      column-gap: 7rem;

      .nav-link {
        font-size: 1.8rem;
        color: $color-secondary;

        &.active {
          font-weight: 600;
        }
      }
    }

    &__icon-container {
      @include flex-row-center;
      justify-content: flex-end;
      column-gap: 3.5rem;

      .icon {
        height: 2.2rem;

        &:hover {
          cursor: pointer;
        }
      }

      .search {
        position: relative;

        &__form {
          position: absolute;
          bottom: -6rem;
          right: 0;

          .input {
            font-family: inherit;
            font-size: 1.6rem;
            padding: 1rem 2rem;
            width: 32rem;
            border-radius: 1.8rem;
            outline: none;
            border: 1px solid $color-secondary-light;

            &::placeholder {
              color: $color-secondary-light;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .nav {
      & > * {
        flex: unset;
      }

      &__link-container {
        width: 100%;
        justify-content: space-evenly;
        column-gap: unset;
      }
    }
  }

  @media (max-width: 1000px) {
    .nav {
      &__logo {
        font-size: 3rem;
      }
    }
  }

  @media (max-width: 800px) {
    .nav {
      &__logo {
        font-size: 2rem;
      }

      &__link-container {
        .nav-link {
          font-size: 1.4rem;
        }
      }

      &__icon-container {
        column-gap: 2rem;

        .icon {
          height: 1.8rem;
        }

        .search {
          &__form {
            .input {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .nav {
      padding-top: 2rem;
      padding-bottom: 3rem;

      &__logo {
        font-size: 1.6rem;
      }

      &__link-container {
        .nav-link {
          font-size: 1.2rem;
        }
      }

      &__icon-container {
        column-gap: 1rem;
        padding-top: 0.3rem;

        .icon {
          height: 1.2rem;
        }

        .search {
          &__form {
            bottom: -5rem;

            .input {
              font-size: 1.2rem;
              width: 23rem;
              padding: 0.5rem 1rem;
            }
          }
        }
      }
    }
  }
}
